<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>picture</key>
		<array/>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>01.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>石头太重，任何力都无法影响它</string>
			<string>没有力作用在石头上，使它运动</string>
			<string>地面对石头的支撑力与石头受到的地球的吸引力相互平衡</string>
			<string>石头受到的力都相互抵消了</string>
			<string>地球的吸引力把石头吸在地面上 </string>
		</array>
	</dict>
	<dict>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>02.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>石头没有移动，说明没有受到力</string>
			<string>一定另外有一个力作用在石头上，和小朋友的推力方向相反</string>
			<string>石头太重 </string>
			<string>小朋友的推力大小等于地面的摩擦力</string>
			<string>小朋友的推力太小，地面的摩擦力太大</string>
		</array>
		<key>picture</key>
		<array/>
	</dict>
	<dict>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>03.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>只要箱子不重，就能被推动 </string>
			<string>向右直线运动，速度的变化无法判断</string>
			<string>向右直线运动，速度不变的匀速前进</string>
			<string>向右直线运动，速度越来越快的加速前进</string>
			<string>打滑推不动</string>
		</array>
		<key>picture</key>
		<array/>
	</dict>
	<dict>
		<key>picture</key>
		<array/>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>04.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>越来越慢，但会一直前进，因为没有力在影响它的运动</string>
			<string>立刻停下，因为没有这个小朋友的推力了</string>
			<string>速度不变，继续前进，因为没有力让它速度变慢</string>
			<string>越来越慢，最后停下，因为没有力支持它继续前进</string>
			<string>打滑动不了，因为没有摩擦力</string>
		</array>
	</dict>
	<dict>
		<key>picture</key>
		<array>
			<string>30001.jpg</string>
			<string>30002.jpg</string>
			<string>30003.jpg</string>
			<string>30004.jpg</string>
			<string>30005.jpg</string>
			<string>30006.jpg</string>
			<string>30007.jpg</string>
			<string>30008.jpg</string>
			<string>30009.jpg</string>
			<string>30010.jpg</string>
			<string>30011.jpg</string>
			<string>30012.jpg</string>
			<string>30013.jpg</string>
			<string>30014.jpg</string>
			<string>30015.jpg</string>
			<string>30016.jpg</string>
			<string>30017.jpg</string>
			<string>30018.jpg</string>
			<string>30019.jpg</string>
			<string>30020.jpg</string>
			<string>30021.jpg</string>
			<string>30022.jpg</string>
			<string>30023.jpg</string>
			<string>30024.jpg</string>
			<string>30025.jpg</string>
			<string>30026.jpg</string>
			<string>30027.jpg</string>
			<string>30028.jpg</string>
			<string>30029.jpg</string>
			<string>30030.jpg</string>
			<string>30031.jpg</string>
			<string>30032.jpg</string>
			<string>30033.jpg</string>
			<string>30034.jpg</string>
			<string>30035.jpg</string>
			<string>30036.jpg</string>
			<string>30037.jpg</string>
			<string>30038.jpg</string>
			<string>30039.jpg</string>
			<string>30040.jpg</string>
			<string>30041.jpg</string>
			<string>30042.jpg</string>
			<string>30043.jpg</string>
			<string>30044.jpg</string>
			<string>30045.jpg</string>
			<string>30046.jpg</string>
			<string>30047.jpg</string>
			<string>30048.jpg</string>
			<string>30049.jpg</string>
			<string>30050.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>05.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>一直不变，因为皮球不受任何力作用</string>
			<string>越来越快，因为同时受到地球的吸引力和小朋友扔球的力作用 </string>
			<string>越来越快，因为受到地球的吸引力作用</string>
			<string>一直不变，因为一直受到地球的吸引力作用</string>
			<string>越来越慢，因为小朋友扔皮球的力慢慢耗尽</string>
		</array>
	</dict>
	<dict>
		<key>picture</key>
		<array>
			<string>30001.jpg</string>
			<string>30002.jpg</string>
			<string>30003.jpg</string>
			<string>30004.jpg</string>
			<string>30005.jpg</string>
			<string>30006.jpg</string>
			<string>30007.jpg</string>
			<string>30008.jpg</string>
			<string>30009.jpg</string>
			<string>30010.jpg</string>
			<string>30011.jpg</string>
			<string>30012.jpg</string>
			<string>30013.jpg</string>
			<string>30014.jpg</string>
			<string>30015.jpg</string>
			<string>30016.jpg</string>
			<string>30017.jpg</string>
			<string>30018.jpg</string>
			<string>30019.jpg</string>
			<string>30020.jpg</string>
			<string>30021.jpg</string>
			<string>30022.jpg</string>
			<string>30023.jpg</string>
			<string>30024.jpg</string>
			<string>30025.jpg</string>
			<string>30026.jpg</string>
			<string>30027.jpg</string>
			<string>30028.jpg</string>
			<string>30029.jpg</string>
			<string>30030.jpg</string>
			<string>30031.jpg</string>
			<string>30032.jpg</string>
			<string>30033.jpg</string>
			<string>30034.jpg</string>
			<string>30035.jpg</string>
			<string>30036.jpg</string>
			<string>30037.jpg</string>
			<string>30038.jpg</string>
			<string>30039.jpg</string>
			<string>30040.jpg</string>
			<string>30041.jpg</string>
			<string>30042.jpg</string>
			<string>30043.jpg</string>
			<string>30044.jpg</string>
			<string>30045.jpg</string>
			<string>30046.jpg</string>
			<string>30047.jpg</string>
			<string>30048.jpg</string>
			<string>30049.jpg</string>
			<string>30050.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>06.jpg</string>
		<key>sign</key>
		<string>0</string>
		<key>answer</key>
		<array>
			<string>安徽宣城市</string>
			<string>浙江杭州市</string>
			<string>江苏苏州市</string>
			<string>江苏南京市</string>
			<string>西藏自治区拉萨市</string>
		</array>
	</dict>
	<dict>
		<key>picture</key>
		<array>
			<string>30001.jpg</string>
			<string>30002.jpg</string>
			<string>30003.jpg</string>
			<string>30004.jpg</string>
			<string>30005.jpg</string>
			<string>30006.jpg</string>
			<string>30007.jpg</string>
			<string>30008.jpg</string>
			<string>30009.jpg</string>
			<string>30010.jpg</string>
			<string>30011.jpg</string>
			<string>30012.jpg</string>
			<string>30013.jpg</string>
			<string>30014.jpg</string>
			<string>30015.jpg</string>
			<string>30016.jpg</string>
			<string>30017.jpg</string>
			<string>30018.jpg</string>
			<string>30019.jpg</string>
			<string>30020.jpg</string>
			<string>30021.jpg</string>
			<string>30022.jpg</string>
			<string>30023.jpg</string>
			<string>30024.jpg</string>
			<string>30025.jpg</string>
			<string>30026.jpg</string>
			<string>30027.jpg</string>
			<string>30028.jpg</string>
			<string>30029.jpg</string>
			<string>30030.jpg</string>
			<string>30031.jpg</string>
			<string>30032.jpg</string>
			<string>30033.jpg</string>
			<string>30034.jpg</string>
			<string>30035.jpg</string>
			<string>30036.jpg</string>
			<string>30037.jpg</string>
			<string>30038.jpg</string>
			<string>30039.jpg</string>
			<string>30040.jpg</string>
			<string>30041.jpg</string>
			<string>30042.jpg</string>
			<string>30043.jpg</string>
			<string>30044.jpg</string>
			<string>30045.jpg</string>
			<string>30046.jpg</string>
			<string>30047.jpg</string>
			<string>30048.jpg</string>
			<string>30049.jpg</string>
			<string>30050.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>07.jpg</string>
		<key>sign</key>
		<string>0</string>
		<key>answer</key>
		<array>
			<string>安徽宣城市</string>
			<string>浙江杭州市</string>
			<string>江苏苏州市</string>
			<string>江苏南京市</string>
			<string>西藏自治区拉萨市</string>
		</array>
	</dict>
	<dict>
		<key>picture</key>
		<array>
			<string>40001.jpg</string>
			<string>40002.jpg</string>
			<string>40003.jpg</string>
			<string>40004.jpg</string>
			<string>40005.jpg</string>
			<string>40006.jpg</string>
			<string>40007.jpg</string>
			<string>40008.jpg</string>
			<string>40009.jpg</string>
			<string>40010.jpg</string>
			<string>40011.jpg</string>
			<string>40012.jpg</string>
			<string>40013.jpg</string>
			<string>40014.jpg</string>
			<string>40015.jpg</string>
			<string>40016.jpg</string>
			<string>40017.jpg</string>
			<string>40018.jpg</string>
			<string>40019.jpg</string>
			<string>40020.jpg</string>
			<string>40021.jpg</string>
			<string>40022.jpg</string>
			<string>40023.jpg</string>
			<string>40024.jpg</string>
			<string>40025.jpg</string>
			<string>40026.jpg</string>
			<string>40027.jpg</string>
			<string>40028.jpg</string>
			<string>40029.jpg</string>
			<string>40030.jpg</string>
			<string>40031.jpg</string>
			<string>40032.jpg</string>
			<string>40033.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>08.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>一直不变，因为皮球不受任何力作用</string>
			<string>越来越快，因为同时受到地球的吸引力和小朋友扔球的力作用 </string>
			<string>越来越快，因为受到地球的吸引力作用</string>
			<string>一直不变，因为一直受到地球的吸引力作用</string>
			<string>越来越慢，因为小朋友扔皮球的力慢慢耗尽</string>
		</array>
	</dict>
	<dict>
		<key>picture</key>
		<array>
			<string>50001.jpg</string>
			<string>50002.jpg</string>
			<string>50003.jpg</string>
			<string>50004.jpg</string>
			<string>50005.jpg</string>
			<string>50006.jpg</string>
			<string>50007.jpg</string>
			<string>50008.jpg</string>
			<string>50009.jpg</string>
			<string>50010.jpg</string>
			<string>50011.jpg</string>
			<string>50012.jpg</string>
			<string>50013.jpg</string>
			<string>50014.jpg</string>
			<string>50015.jpg</string>
			<string>50016.jpg</string>
			<string>50017.jpg</string>
			<string>50018.jpg</string>
			<string>50019.jpg</string>
			<string>50020.jpg</string>
			<string>50021.jpg</string>
			<string>50022.jpg</string>
			<string>50023.jpg</string>
			<string>50024.jpg</string>
			<string>50025.jpg</string>
			<string>50026.jpg</string>
			<string>50027.jpg</string>
			<string>50028.jpg</string>
			<string>50029.jpg</string>
			<string>50030.jpg</string>
			<string>50031.jpg</string>
			<string>50032.jpg</string>
			<string>50033.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>09.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>越来越慢，但会一直前进，因为没有力在影响它的运动</string>
			<string>立刻停下，因为没有这个小朋友的推力了</string>
			<string>速度不变，继续前进，因为没有力让它速度变慢</string>
			<string>越来越慢，最后停下，因为没有力支持它继续前进</string>
			<string>打滑动不了，因为没有摩擦力</string>
		</array>
	</dict>
	<dict>
		<key>picture</key>
		<array/>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>10.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>石头没有移动，说明没有受到力</string>
			<string>一定另外有一个力作用在石头上，和小朋友的推力方向相反</string>
			<string>石头太重 </string>
			<string>小朋友的推力大小等于地面的摩擦力</string>
			<string>小朋友的推力太小，地面的摩擦力太大</string>
		</array>
	</dict>
	<dict>
		<key>picture</key>
		<array/>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>11.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>石头太重，任何力都无法影响它</string>
			<string>没有力作用在石头上，使它运动</string>
			<string>地面对石头的支撑力与石头受到的地球的吸引力相互平衡</string>
			<string>石头受到的力都相互抵消了</string>
			<string>地球的吸引力把石头吸在地面上 </string>
		</array>
	</dict>
	<dict>
		<key>picture</key>
		<array/>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>12.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>一直不变，因为皮球不受任何力作用</string>
			<string>越来越快，因为同时受到地球的吸引力和小朋友扔球的力作用 </string>
			<string>越来越快，因为受到地球的吸引力作用</string>
			<string>一直不变，因为一直受到地球的吸引力作用</string>
			<string>越来越慢，因为小朋友扔皮球的力慢慢耗尽</string>
		</array>
	</dict>
</array>
</plist>
